<div class="uf-views-list" ng-class="{'oneMenuItem':vm.isConsoleClosed()}">
	<div title="{{viewNode.title}}" ng-show="vm.showCurrentView(viewNode)" ng-class="vm.getViewCCS(viewNode)" ng-repeat="viewNode in vm.flattenedViewNodes" ng-click="vm.viewButtonClicked(viewNode)" ng-style="($index!==0)&&{'border-top':'none'}" style="cursor:pointer;">
		<span ng-if="viewNode.level">&nbsp;&nbsp;></span> <span class="font-heading" style="padding-left:4px;">{{viewNode.displayName}}</span>
	</div>
</div>
<div id="console-open" class="uf-view-menu-item" ng-show="vm.isConsoleClosed()" ng-click="vm.openConsole()" uib-tooltip="Open the console view" tooltip-placement="top" tooltip-popup-delay="500">
    <i class="material-icons">web_asset</i><span class="uf-view-menu-item-text">Console</span>
    <span class="label" ng-show="vm.numMessages() > 0">{{vm.numMessages()}}</span>
</div>