<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<configurations XML_version="1.2" id="configurations_0">
<configuration XML_version="1.2" id="configuration_0">
        <instance XML_version="1.2" desc="<%=connection.id%>" href="connections/<%=connection.xmlFileName%>" id="<%=connection.id%>" xml="<%=connection.xmlFileName%>" xmlpath="connections"/>
        <connection XML_version="1.2" id="<%=connection.id%>">
        	<%_.forEach(driverInstances,function(driverXmlFileName) {%>
        		   <instance XML_version="1.2" href="drivers/<%=driverXmlFileName%>" id="drivers" xml="<%=driverXmlFileName%>" xmlpath="drivers"/>
        	<%})%>
            <%_.forEach(overridesXML,function(xml) {%>
                  <%=xml%>
            <%})%>
            <platform XML_version="1.2" id="platform_0">
                <instance XML_version="1.2" desc="<%=device.id%>" href="devices/<%=device.xmlFileName%>" id="<%=device.id%>" xml="<%=device.xmlFileName%>" xmlpath="devices"/>
            </platform>
        </connection>
    </configuration>
</configurations>
