 <div class="modal-header" ng-show="vm.title">
    <a class="close" ng-click="$dismiss()" aria-label="close">&times;</a>
    <h3 class="modal-title">
        <span>{{vm.title}}</span>
    </h3>
</div>
<div class="modal-body">
     <span ng-bind-html="vm.toTrustedHTML(vm.message)"></span>
     <div class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="vm.showLoading"></div>
     <div ng-show="vm.showCheckbox">
         <br/>
         <tic-checkbox ng-model="!vm.ufPreferencesSrv.get('showConfigDialog')" ng-click="vm.ufPreferencesSrv.set('showConfigDialog',!vm.ufPreferencesSrv.get('showConfigDialog'))"> Don't show again</tic-checkbox>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="$dismiss('No')" ng-show="vm.showNo">No</button>
    <button class="btn btn-primary" ng-click="$close('Yes')" ng-show="vm.showYes">Yes</button>
    <button class="btn btn-default" ng-click="$dismiss('Dismiss')" ng-show="vm.showDismiss">Dismiss</button>
</div>