<div class="list-group" ng-repeat="category in vm.ufPropertiesDB.getCategoryList()" style="margin-bottom:40px;margin-top:20px;" ng-show="categoryPropertyList.length>0">
	<div style="font-weight:600;padding-left:8px;padding-bottom:2px;" ng-click="hideSettingsInCategory[$index]=!hideSettingsInCategory[$index]"  ng-style="hideSettingsInCategory[$index]&&{'border-bottom':'1px solid #ddd','padding-bottom':'2px'}">
		{{category}} <span class="glyphicon glyphicon-triangle-bottom" style="font-size:10px;color:#555;float:right;padding-right:5px;line-height:20px;" ng-class="hideSettingsInCategory[$index]?'glyphicon-triangle-top':'glyphicon-triangle-bottom'"></span>
	</div>
	<div class="list-group-item highlight_hover_light" ng-repeat="prop in categoryPropertyList = (vm.ufPropertiesDB.getPropertiesListByCategory(category.split(','),true) | filter:{ valueType: 'Button' })" style="border-left:none;border-right:none;padding-top:3px;padding-bottom:3px;" ng-show="!hideSettingsInCategory[$parent.$index]">
		<span><uf-property id="{{prop._id}}"></uf-property></span>
		<span ng-show="prop.description" style="color:#222;"> - {{prop.description}} <a href="" style="font-size:12px;float:right;padding-right:4px;line-height:38px;">[Show Settings]</a></span>
	</div>
</div>