*.zip filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.so.* filter=lfs diff=lfs merge=lfs -text
vasa/makedir/__programmer/TICloudAgentHostApp/node filter=lfs diff=lfs merge=lfs -text
