 <div class="modal-header">
    <h3 class="modal-title">{{vm.wizardObj.title}}</h3>
    <h5>{{vm.wizardObj.description}}(<a target="_blank" href="{{vm.wizardObj.detailsLink.url}}">{{vm.wizardObj.detailsLink.text}}</a>)</h5>
</div>
<div class="modal-body">
	<ul>
		<li ng-init="actionButtonText = vm.getActionButtonText(step.action)" ng-repeat="step in vm.wizardObj.steps"> Step {{$index + 1}} : {{actionButtonText[0]}} 
			<button title={{step.description}} ng-click="step.action.handler()" class="btn btn-sm btn-primary">{{actionButtonText[1]}}</button> 
			{{actionButtonText[2]}} 
		</li>
		<li>
			 <a target="_blank" href="{{vm.wizardObj.helpLink.url}}">{{vm.wizardObj.helpLink.text}}</a>
		</li>
	</ul>
</div>
<div class="modal-footer">
    <button class="btn btn-default"  type="button" ng-click="vm.cancelClicked($dismiss)">Cancel</button>
</div>