<div class="uf-menu-item-parent" style="float:right;position:relative;" ng-click="vm.showConnectMenu=!vm.showConnectMenu"  tic-click-elsewhere="vm.showConnectMenu=false" >
    <span class="uf-menu-item" ng-repeat="core in vm.cores"><i class="material-icons uf-connected-state-{{vm.isConnected(core.name)}}">fiber_manual_record</i>{{core.name}} {{vm.connectionStatus[core.name]}} </span>
    <div id="connection-state-menu" class="uf-connected-state-popup" ng-show="vm.showConnectMenu" ng-click="$event.stopPropagation()">
        <div style="margin:5px;color:#777;">
            <tic-checkbox type="checkbox" ng-model="vm.remainConnected" ng-focus="vm.showConnectMenu" ng-blur="vm.showConnectMenu=false">
                Remain Connected after operations
            </tic-checkbox>
        </div>
        <div style="margin:5px;">
            <button ng-disabled="!vm.isAnyCoreConnected() || vm.dsOpInProgress" class="btn btn-primary btn-sm" ng-click="vm.disconnectAllCores();">Disconnect All Cores</button>
        </div>
        <!--<div style="margin:5px;">
            <button ng-disabled="!vm.isConfigured()" class="btn btn-primary btn-sm" ng-click="vm.deconfigure();">Deconfigure Device</button>
        </div>-->
    </div>
</div>