<div class="modal-header">
    <a class="close" ng-click="vm.closeClicked(button)" aria-label="close">&times;</a>
    <h3 class="modal-title"><span class="glyphicon glyphicon-{{vm.getIconType()}}" aria-hidden="true"></span>
        <span>{{vm.event.title}}
        </span>
    </h3>
</div>
<div class="modal-body">
    <span>{{vm.event.text}}</span>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-enabled="vm.buttonsEnabled" ng-click="vm.buttonClicked(button)" ng-repeat="button in vm.event.buttons">
        {{button}}
    </button>
</div>