<div class="btn-group" ng-class="vm.dsOpInProgress ? 'disabled' : ''" uib-dropdown>
    <button type="button" title="{{vm.primaryAction.toolTip}}" class="btn btn-primary btn-sm" ng-click="vm.primaryAction.handler()">
        {{vm.primaryAction.displayName}}
    </button>
    <button type="button" title="Other actions" class="btn btn-primary btn-sm dropdown-toggle" uib-dropdown-toggle>
        <span class="caret"></span>
    </button>
    <ul uib-dropdown-menu role="menu" class="dropdown-menu">
        <li title="{{action.toolTip}}" ng-repeat="action in vm.programActions"><a ng-click="action.handler()" href="">{{action.displayName}}</a></li>
    </ul>
</div>