<div class="modal-header">
    <h3 class="modal-title">{{vm.title}}</h3>
    <h5>{{vm.description}}</h5>
</div>
<div class="modal-body">
    <div ng-if="vm.isPercentType()">
        <p>{{vm.event.subActivity}}</p>
        <uib-progressbar class="progress-striped" value="vm.event.percent" type="success">{{vm.event.percent}}%</uib-progressbar>
    </div>
    <div ng-if="!vm.isPercentType()">
    	<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
    	<p>{{vm.event.subActivity}}</p>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-disabled="!vm.event.isCancellable" type="button" ng-click="vm.cancelClicked($dismiss)">
    	Cancel
    </button>
</div>