<div id="console-view" class="uf-console-view">
    <div class="consoleHeading" style="padding-right:0;">
        <!-- Console Title -->
        <div class="noselect" style="float:left;margin-left:7px;">
            <i class="material-icons" style="position:relative;top:4px;right:4px;font-size:18px;color:#666;">web_asset</i><span style="font-weight:500;color:#555;font-size:16px;">Console</span>
        </div>
        <span class="pull-right tic-view-panel-actions">
            <span id="console-verbose" class="uf-line-btn uf-console-btn" style="height:45px;" ng-if="vm.verboseAvailable()" uib-tooltip="Controls the verbosity of the console. Turn on to see more messages." tooltip-placement="top" ng-click="vm.toggleVerbose();" ng-class="{'active':(vm.verboseIcon==='volume_up')}" tooltip-popup-delay="500" tooltip-enable="!vm.verboseClicked" tooltip-trigger="mouseenter click">
                <i class="material-icons">{{vm.verboseIcon}}</i><span class="uf-line-btn-text">Verbose</span>
            </span><!--
            --><span id="console-clear" class="uf-line-btn uf-console-btn" style="height:45px;" ng-click="vm.clearConsole();vm.clearClicked=true;" uib-tooltip="Clear all messages from the console" tooltip-placement="top" ng-class="{'disabled':(vm.messages.length===0)}" tooltip-popup-delay="500" tooltip-enable="!vm.clearClicked" tooltip-trigger="mouseenter click">
                <i class="material-icons">&#xE0B8;<!--clear_all--></i><span class="uf-line-btn-text">Clear</span>
            </span><!--
            --><span id="console-close" class="uf-line-btn uf-console-btn" style="height:45px;" ng-click="vm.closeConsole();" uib-tooltip="Close the console" tooltip-placement="left" tooltip-popup-delay="500">
                <i class="material-icons">&#xE14C;<!--clear--></i><span class="uf-line-btn-text">Close</span>
            </span>
        </span>
    </div>
    <div class="uf-console-body consoleContent" ng-show="!minConole">
        <!-- Console Content -->
        <span ng-repeat="message in vm.messages">
            <div style="line-height:20px;"><span class="uf-console-timestamp">[{{message.date}}]</span> <span class="uf-console-message" ng-bind-html="vm.ticHighlightSrv.highlightMsg(message.type,message.text)"></span></div>
        </span>
    </div>
</div>