<div style="padding-bottom:25px;">
    <div style="font-size:16px;font-weight:500;margin:2px 5px;">
        <span>Device Database</span>
        <i class="material-icons" uib-tooltip="Add new debug probes and device in your UniFlash installation, and click on Re-sync Database to have it show up in the UI" tooltip-placement="right" style="font-size:14px;color:#999;cursor:default;position:relative;top:2px;">help_outline</i>
    </div>
    <table style="margin:0 18px;">
        <tr>
            <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.resync()" style="margin-top:5px">Re-sync Database</button>
            </td>
        </tr>
    </table>
	
	<div style="margin:6px 18px;" ng-show="vm.getStep()">
		<div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;" ng-show="!vm.error">
			{{vm.getStep()}} <a href="" ng-show="vm.percent === 100" ng-click="vm.close()" style="color:#118899;">[Click to Close UniFlash]</a>
		</div>
		<div class="alert alert-danger" role="alert" ng-show="vm.error">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span> {{vm.getStep()}}
		</div>
		<div class="progress progress-striped">
			<div class="progress-bar" ng-style="vm.getDownloadPercentStyle()"></div>
		</div>
	</div>
</div>
