<div style="padding-bottom:25px;">
    <div style="font-size:16px;font-weight:500;margin:2px 5px;">
        <span>Updates</span>
        <i class="material-icons" uib-tooltip="Check if there are any updates to the application. This is checked automatically on startup by default." tooltip-placement="right" style="font-size:14px;color:#999;cursor:default;position:relative;top:2px;">help_outline</i>
    </div>
    <table style="margin:0 18px;">
        <tr>
            <td ng-click="vm.ticUpdateSrv.writeINIFile()">
                <tic-checkbox ng-model="vm.ticUpdateSrv.checkUpdateOnStartup"> Check for updates on application startup</tic-checkbox>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary btn-sm" ng-click="vm.checkUpdate()" style="margin-top:5px">Check For Updates</button>
				<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="vm.checkingForUpdate" style="position:relative;left:8px;top:6px;"></span>
            </td>
        </tr>
    </table>
	<div class="message">
		<div ng-show="vm.updateAvailable">
			<span ng-click="vm.installUpdates()"><span style="font-weight:500;color:#444;">Updates Available!</span> <a href="">Click to download</a></span>
			<a href="https://software-dl.ti.com/ccs/esd/uniflash/docs/update_notes.html" target="_blank" style="float:right;font-size:11px;color:#118899;line-height:26px;">[More Info]</a>
		</div>
		<span ng-show="!vm.updateAvailable&&!vm.checkingForUpdate&&vm.updateChecked">{{vm.updateErrorMsg}}</span>
	</div>
</div>