<div style="padding-bottom:25px;">
    <div style="font-size:16px;font-weight:500;margin:0 5px;">
        <span>Proxy Settings</span>
        <i class="material-icons" uib-tooltip="Enter your proxy settings for connecting to the internet. Needed for update check." tooltip-placement="right" style="font-size:14px;color:#999;cursor:default;position:relative;top:2px;">help_outline</i>
    </div>
    <table style="margin:2px 18px;">
        <tr>
            <td colspan="2" style="position:relative;left:-3px;" ng-click="vm.ticUpdateSrv.writeINIFile()"><tic-checkbox ng-model="vm.ticUpdateSrv.proxy_enable"> Enable Proxy</tic-checkbox></td>
        </tr>
		<tr ng-class="{'disabled':!vm.ticUpdateSrv.proxy_enable}">
            <td style="width:1%;">Server: </td>
            <td style="width:99%;padding-left:5px;"><input ng-model="vm.ticUpdateSrv.proxy_server" ng-blur="vm.ticUpdateSrv.writeINIFile()" type="text" class="form-control input-sm" style="width:100%"></td>
        </tr>
        <tr ng-class="{'disabled':!vm.ticUpdateSrv.proxy_enable}">
            <td>Port: </td>
            <td style="padding-left:5px;"><input ng-model="vm.ticUpdateSrv.proxy_port" ng-blur="vm.ticUpdateSrv.writeINIFile()" type="text" class="form-control input-sm" style="width:80px;"></td>
        </tr>
        <tr ng-class="{'disabled':!vm.ticUpdateSrv.proxy_enable}">
            <td style="width:1%">Username: </td>
            <td style="width:99%;padding-left:5px;"><input ng-model="vm.ticUpdateSrv.proxy_username" ng-blur="vm.ticUpdateSrv.writeINIFile()" type="text" class="form-control input-sm" style="width:100%"></td>
        </tr>
        <tr ng-class="{'disabled':!vm.ticUpdateSrv.proxy_enable}">
            <td style="width:1%">Password: </td>
            <td style="width:99%;padding-left:5px;"><input ng-model="vm.ticUpdateSrv.proxy_password" ng-blur="vm.ticUpdateSrv.writeINIFile()" type="text" class="form-control input-sm" style="width:100%"></td>
        </tr>
    </table>
</div>
