<div class="tic-view-panel">
    <div title="{{vm.description}}" ng-click="vm.show = !vm.show;">
        <span ng-class="vm.show?'glyphicon glyphicon-triangle-bottom tic-view-panel-icon':'glyphicon glyphicon-triangle-right tic-view-panel-icon'"></span>
        <span class="font-heading">{{vm.heading}}</span>
        <span ng-show="vm.show" ng-click="$event.stopPropagation()" class="pull-right tic-view-panel-actions" ng-transclude="actions"> </span>
    </div>
    <div ng-show="vm.show" ng-transclude="body">
    </div>
</div>