<div>
    <div ng-show="vm.componentsList.length>0" style="font-size:10px;"><a href="" ng-click="vm.showHide()">[{{vm.showHideText}}]</a></div>
    
    <div ng-show="vm.showingComponents" class="ti-common-table" style="text-align:left;display:table;margin-top:5px;font-size:11px;cursor:text;">
        <div style="background-color:#115566;color:#fff;display:table-row;">
            <span style="padding:2px 7px;display:table-cell;border-radius:3px 0 0 3px;">Name</span>
            <span style="padding:2px 12px;display:table-cell;border-radius:0 3px 3px 0;">Version</span>
        </div>
        <div style="display:table-row;" ng-repeat="component in vm.componentsList" ng-class-odd="" ng-class-even="'alt'">
            <span style="padding:2px 7px;display:table-cell;">{{component.name}}</span>
            <span style="padding:2px 12px;display:table-cell;">{{component.version}}</span>
        </div>
    </div>
</div>