<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="server-config" style="display: none"><%= serverConfig %></div>
    <div id="index"></div>
    <div id="tempMountPoint"></div>
    <div id="tempMountPoint2"></div>
    <div id="tiPrivacy" />

    <!-- TICloudAgent -->
    <% if (theiaPort) { %>
    <script type="module">
      window.BACKEND_PORT = <%= theiaPort %>
    </script>
    <script type="text/javascript" src="http://localhost:<%= theiaPort %>/ticloudagent/q.js"></script>
    <script type="text/javascript" src="http://localhost:<%= theiaPort %>/ticloudagent/agent.js"></script>
    <% } %>
    <% if (!theiaPort) { %>
    <script type="text/javascript" src="/ticloudagent/q.js"></script>
    <script type="text/javascript" src="/ticloudagent/agent.js"></script>
    <% } %>

    <!-- tealium production script -->
    <script
      src="https://www.ti.com/assets/js/headerfooter/analytics.js"
      charset="utf-8"
      ></script>
    
    <script type="module" src="built/bundle.js"></script>
    <script nomodule>
      document.getElementById('index').innerHTML =
          'Browser not supported. Please use an up to date version of Chrome, Firefox, Safari, or Edge';
    </script>
    <!-- for source maps to work for sub routes (will not work in the landscape under /tirex) -->
    <!-- <script type="module" src="/built/bundle.js"></script> -->
  </body>
</html>

