<!-- CC31xx / CC32xx Device Entry -->
<li class="uf-target-setup-list-entry" style="position:relative;" ng-repeat="device in vm.ufAddOnTargetSrv.getDeviceList()" ng-click="vm.ufAddOnTargetSrv.selectDevice(device)" ng-class="{'preview':device.showPreview}">
    <img ng-src="target_setup/img/ti_chip.png" ng-style="device.showPreview&&{'height':'96px','padding':'2px'}||{'height':'21px','padding':'0 2px 2px 2px'}" />
    <span  class="uf-target-setup-list-chip-text">{{device.name}}</span>
    <span ng-bind-html="vm.ticHighlightSrv.highlight(device.name, vm.ufTargetSetupSrv.deviceFilter, 1)"></span>
    <span class="label label-offchip">Serial</span>
</li>