<div class="uf-target-setup-device-selected last tic-clickable active" ng-show="(vm.ufTargetSetupSrv.selectedDevice.type==='addon')"
 ng-click="vm.ufAddOnTargetSrv.handleAction()" ng-style="vm.ufTargetSetupSrv.selectedDevice.link?{'border-top':'3px solid #ccca00','height':'auto','line-height':'normal','padding':'12px 0 17px 0'}:{'height':'auto','line-height':'normal','padding':'12px 0 17px 0'}">

	<!-- non-button message (although now we show a button for these as well) -->
	<div ng-show="vm.ufTargetSetupSrv.selectedDevice.subtype!=='button'" style="font-size:14px;">
		<div>
			<i class="material-icons" style="position:relative;top:6px;right:1px;color:#ccca00;">warning</i>
			<span ng-show="vm.ufTargetSetupSrv.selectedDevice.subtype==='desktop'" style="font-weight:500;">Not supported on Cloud Version</span>
			<span ng-show="vm.ufTargetSetupSrv.selectedDevice.subtype==='v3'" style="font-weight:500;">Not supported on current UniFlash version</span>
			<a style="font-size:11px;" href="" ng-click="vm.showMoreInfo = !vm.showMoreInfo;$event.stopPropagation();">[More Info]</a>
		</div>
		<!-- v3 message -->
		<div ng-show="vm.ufTargetSetupSrv.selectedDevice.subtype==='v3'">
			<div style="margin-top:10px;" ng-show="vm.showMoreInfo">
				<span style="font-weight:600;">Note</span>: Support for {{vm.ufTargetSetupSrv.selectedDevice.id}} has been
				<span style="font-weight:600;">deprecated</span> in current version. Please download UniFlash v3 for device support.
			</div>
			<div style="margin-top:10px;">
				<button class="btn btn-primary">Download UniFlash v3</button>
			</div>
		</div>
		<!-- desktop message -->
		<div ng-show="vm.ufTargetSetupSrv.selectedDevice.subtype==='desktop'">
			<div style="margin-top:10px;" ng-show="vm.showMoreInfo">
				<span style="font-weight:600;">Note</span>: {{vm.ufTargetSetupSrv.selectedDevice.id}} support is currently not available on the
				<span style="font-weight:600;">Cloud</span> version. Please download the
				<span style="font-weight:600;color:#115566;">Desktop</span> version for device support.
			</div>
			<div style="margin-top:10px;">
				<button class="btn btn-primary">Download UniFlash Desktop</button>
			</div>
		</div>
	</div>

	<!-- button message -->
	<div ng-show="vm.ufTargetSetupSrv.selectedDevice.subtype==='button'">
		<div ng-show="vm.ufTargetSetupSrv.selectedDevice.moduleName === 'Image Creator'" style="padding: 5px 0 13px 0">
			<span style="font-weight:500;">Note:</span> CC3100/CC3200 is not supported by Image Creator
		</div>
		<span class="badge uf-circle" style="position:relative;right:15px;top:1px;">3</span>
		<button class="btn btn-primary" style="position:relative;right:10px;">Start {{vm.ufTargetSetupSrv.selectedDevice.moduleName}}</button>
		<!-- Loading icon -->
		<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" ng-show="vm.ufTargetSetupSrv.started" style="position:absolute;top:36px;padding-left:2px;"></span>
	</div>
</div>