<div id="ccxmlConfig" class="uf-target-setup-section" style="margin-bottom:20px;">
    <div ng-click="vm.show=!vm.show" style="font-size:18px;color:#444;padding:5px 20px;text-align:left;box-shadow:inset 0 -1px 0 #eee;background-color:#115566;color:#fff;cursor:pointer;"
        ng-style="vm.show && {'border-radius':'4px 4px 0 0'} || {'border-radius': '4px'}">
        <span class="glyphicon glyphicon-triangle-bottom rotatable slow" ng-class="{'rotated':!vm.show,'unrotated':vm.show}" style="font-size:11px;position:relative;top:0px;right:5px;"
            ng-style="vm.showLP && {'top':'0'} || {'top': '-1px'}"></span> Create Session From Existing Target Configuration File
    </div>
    <div ng-if="vm.show" style="font-size:16px;text-align:center;padding:10px">
        <div span ng-if="!vm.selectedCcxml">
            <button type="button" style="display:table-cell;" class="btn btn-success btn-sm" id="browseCcxml" ng-click="vm.selectCcxmlFile();">
                        <span class="glyphicon {{vm.getIcon()}}"></span> Select
                    </button> &nbsp; a .ccxml file to create a new session.
        </div>
        <div class="clickable" ng-if="vm.selectedCcxml" title="Click to choose a different ccxml">
            <!--<span style="display:table;width:100%">-->
            <div class="inputHover" style="display:table;width:100%;color:#115566;font-weight:500;" ng-click="vm.selectCcxmlFile();">{{vm.selectedCcxml.name}}</span>
            </div>
            <button type="button" style="display:table-cell;" class="btn btn-primary" id="startSessionWithCcxml" ng-click="vm.startSession()">
                        Start
                    </button>
        </div>
    </div>
</div>