<div class="modal-content">
    <div class="modal-header">
        <a class="close" ng-click="$dismiss()" aria-label="close">&times;</a>
        <h3 class="modal-title"> <span>{{vm.title}}</span></h3>
    </div>
    <div class="modal-body tic-nav-settings" style="padding-top:0;">
        <!-- General Settings -->
        <div style="padding-bottom:25px;">
            <div style="font-size:16px;font-weight:500;margin:2px 5px;">
                <span>General Settings</span> 
            </div>
            <table style="margin:0 18px;">
                <tr>
                    <td>
                        <tic-checkbox ng-model="vm.ufPreferencesSrv.get('showConfigDialog')" ng-click="vm.ufPreferencesSrv.set('showConfigDialog',!vm.ufPreferencesSrv.get('showConfigDialog'))"> Show confirmation dialog when creating new session</tic-checkbox>
                    </td>
                </tr>
            </table>
        </div>
        
        <!-- Proxy Settings -->
        <uf-settings-proxy></uf-settings-proxy>
        
        <!-- Updates -->
        <uf-settings-update></uf-settings-update>
        
        <!-- Default Session -->
        <uf-default-session></uf-default-session>

        <!-- GUI Logging -->
        <div style="padding-bottom:25px;">
            <div style="font-size:16px;font-weight:500;margin:2px 5px;">
                <span>GUI Logging</span> 
                <i class="material-icons" uib-tooltip="Enable GUI Logging to gather extra debugging information related to GUI usage." tooltip-placement="right" style="font-size:14px;color:#999;cursor:default;position:relative;top:2px;">help_outline</i>
            </div>
            <table style="margin:0 18px;">
                <tr>
                    <td>
                        <tic-checkbox ng-model="vm.ufLogger.printToConsole"> Enable GUI Logging (Open Browser Debug Console to view)</tic-checkbox>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.downloadGuiLog()" style="margin-top:5px" uib-tooltip="Download GUI Logs to a file. This file can be sent to TI for analysis." tooltip-placement="right">Download Log</button>
                    </td>
                </tr>
            </table>
        </div>
        
        <!-- Debug Server Logging -->
        <div style="padding-bottom:25px;" ng-show="vm.isConfigured()">
            <div style="font-size:16px;font-weight:500;margin:2px 5px;">
                <span>Debug Server Logging</span>
                <i class="material-icons" uib-tooltip="Enable Debug Server Logging to gather extra debugging information during program load or Flash operations." tooltip-placement="right" style="font-size:14px;color:#999;cursor:default;position:relative;top:2px;">help_outline</i>
            </div>
            <div cg-busy="vm.busy"></div>
            <table style="margin:0 18px;">
                <tr>
                    <td style="width:1%;white-space:nowrap;">File Name: </td>
                    <td style="width:98%;padding:0 10px 0 5px;"><input ng-model="vm.dsLogName" uib-tooltip="File name only, paths are not accepted." ng-disabled="vm.dsLogStatus" ng-class="{'disabled':vm.dsLogStatus}" placeholder="ds.log" type="text" class="form-control input-sm" style="width:100%"></td>
                    <td style="width:1%;">
                        <button type="button" class="btn btn-primary btn-sm" ng-disabled="vm.disableToggleDSLog()" ng-click="vm.toggleDSLog()">{{vm.dsLogStatus ? 'Disable' : 'Enable'}}</button>
                    </td>
                </tr>
            </table>
            <div ng-if="vm.dsLogStatus" class="message">{{vm.dsLogMsg}}</div>
        </div>
        
        <!-- Auto Detection Setting -->
        <div style="padding-bottom:25px;">
            <div style="font-size:16px;font-weight:500;margin:2px 5px;">
                <span>Device Detection</span>
                <i class="material-icons" uib-tooltip="Enable Target Configuration by default. Newly connected devices will automatically be detected when this setting is on." tooltip-placement="right" style="font-size:14px;color:#999;cursor:default;position:relative;top:2px;">help_outline</i>
            </div>
            <table style="margin:0 18px;">
                 <tr>
                     <td class="uf-property">
                        <span>Use following mode on startup:</span>
                        <select style="float:right;background-color:inherit;" ng-change="vm.ufTargetSetupSrv.autoTargetDetectionSelectValueChanged()" ng-options="option for option in vm.ufSettingsSrv.autoTargetDetectionSelection" ng-model="vm.ufSettingsSrv.autoTargetDetectionSelectValue"></select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <tic-checkbox ng-model="vm.ufPreferencesSrv.get('showDetectWelcomePage')" ng-click="vm.ufTargetSetupSrv.toggleShowDetectWelcomePage()"> Show Introduction view</tic-checkbox>
                    </td>
                </tr>
            </table>
        </div>
        
        <!-- Device Database Setting -->
        <uf-resync-database></uf-resync-database>
     </div>
</div>