<div class="minimizable slow" style="position:absolute;right:22px;bottom:0px;min-width:200px;background-color:#fff;z-index:10000;box-shadow:0px 0px 5px #bbb;border-radius:2px 2px 0 0;" ng-class="{'show':!vm.checkingForUpdates&&vm.updatesFound}" ng-hide="vm.hideUpdate">
    <div style="background-color:#118899;color:#fff;padding:5px 14px;border-radius:inherit;">
		Software Updates
		<i ng-click="vm.hideUpdate=true;" class="material-icons clickable" style="position:absolute;right:8px;top:10px;font-size:14px;" title="Dismiss Update Dialog">clear</i>
	</div>
	<div style="padding:5px 14px;">
        <div>
			<div ng-show="vm.updatesFound" style="text-align:center;">
				<div><a href="" ng-click="vm.installUpdates()"><span style="font-weight:500;color:#444;">Updates Available!</span> Click to download</a></div>
				<div><a href="https://software-dl.ti.com/ccs/esd/uniflash/docs/update_notes.html" target="_blank" style="font-size:11px;color:#118899;">[More Info]</a></div>
			</div>
        </div>
    </div>
</div>