<div class="drag-drop-file-upload">
    <div class="panel panel-default">
        <div class="panel-heading"><span style="font-weight:500;">Upload Files</span>
            <span class="pull-right">Max size: <span style="color:#115566;font-weight:500;">50MB</span>
                <!--<label><tic-checkbox ng-model="vm.autoSelectUploads"> Auto select new files </tic-checkbox></label>-->
            </span>
        </div>
        <div class="panel-body">
            <div ngf-drop ngf-select ng-model="vm.domFiles" class="drop-box" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="false" accept="*" ngf-pattern="'*'" style="height:150px;">
                <div class="center-vertical">
                    <span style="font-weight:500;"> Drag and drop files here or  </span>
                    <button class="btn btn-primary btn-sm" ngf-select="vm.upload($files)" ngf-multiple="true">Select Files</button>
                    <span style="font-weight:500;"> to upload </span>
                </div>
            </div>
        </div>
    </div>
</div>