 <div class="modal-header">
 	 <a class="close" ng-click="$dismiss()" aria-label="close">&times;</a>
    <h3 class="modal-title"> <span>{{vm.title}}</span></h3>
</div>
<div class="modal-body" style="padding-top:0;padding-bottom:0;">
   <tic-files files='vm.files' files-selected='vm.filesSelected' no-files-message='vm.noFilesMessage' get-all-files="vm.getAllFiles" get-default-files="vm.getDefaultFiles" show-upload-dialog='true' filter='vm.filter' filter-type='vm.filterType'><tic-files>
</div>
<div class="modal-footer">
    <button class="btn btn-default"  type="button" ng-click="$dismiss('Cancel Clicked')">Cancel</button>
</div>