<div class="modal-header" >
	<a class="close" ng-click="$dismiss()" aria-label="close">&times;</a>
	<h3 class="modal-title">{{vm.title}}</h3>
</div>
<div class="modal-body" >
	<form class="form-inline">
		<div class="form-group">
	  		<label for="filename">File name:</label>
	  		<input class="form-control" type="text" ng-model="vm.fileName" value="{{vm.fileName}}"/>{{vm.ext}}
		</div>
	<form>
</div>
<div class="modal-footer" >
	<button class="btn btn-default" ng-click="$dismiss('Cancel Clicked')">Cancel</button>
	<button class="btn btn-primary" ng-class="{'disabled':vm.fileName===''}" ng-click="vm.saveFileClicked(vm.fileName)">Save</button>
</div>