<td>
    <span ng-if="program">
        <span>{{$index + 1}}</span>
     <tic-checkbox ng-model="program.isSelected"></tic-checkbox>
    </span>
</td>
<td>
    <div ng-if="program" class="program-name" ng-click="vm.browseClicked(program);" title="{{program.file.path}} - click to edit">
        <span>
			{{program.file.name}} 
        </span>
		<span class="glyphicon glyphicon-pencil"></span>
    </div>
    <span ng-if="!program">
        <div>            
            <button type="button" class="btn btn-success btn-sm" ng-click="vm.selectClicked(programProvider);programProvider.programClicked=true;" ng-repeat="programProvider in vm.programProviders" uib-tooltip="{{programProvider.tooltipText}}" tooltip-placement="bottom" tooltip-popup-delay="200" tooltip-popup-close-delay="200" tooltip-enable="!programProvider.programClicked" tooltip-trigger="mouseenter click">
                <span class="glyphicon {{programProvider.icon}}"></span> {{programProvider.buttonText}}
			</button>
		</div>
    </span>
</td>
<td>
    <span ng-if="program">{{program.file.getDisplaySize()}}</span>
</td>
<td class="program-list-row-binary-checkbox">
    <tic-checkbox ng-model="program.isBinary"></tic-checkbox>
</td>
<td>
    <input ng-show="program.isBinary" class="form-control input-sm" ng-class="{'input_highlight':!program.loadAddress}" type="text" ng-model='program.loadAddress' placeholder="0x00000000">
    <input ng-show="!program.isBinary" class="form-control input-sm" type="text" ng-disabled="true" placeholder="Auto">
</td>
<td>
    <uf-program-actions program="program"> </uf-program-actions>
     <span ng-if="program && !program.file.isReady">
        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">
        </span>
        <span>{{program.file.notReadyMessage}}</span>
    </span>
</td>
<td>
    <span ng-click="vm.removeClicked(program)" title="remove" class="glyphicon glyphicon-remove tic-icons-btn"> </span>
</td>